.playlist.remote{
    height:calc(100% - 54px);
}
.playlist .head > span {
    text-align:center;
    border-left-color:darkgray;
    font-weight:bold;
}
.playlist div {
    cursor:pointer;
}
.playlist div > span {
    display:inline-block;
    border-left:solid 1px white;
}

.playlist div > span:nth-child(1){
    width:25px;
    text-align:center;
}

.playlist div > span:nth-child(2){
    width:calc(100% - 132px);
    padding-left:5px;
}

.playlist div > span:nth-child(3){
    width:80px;
    text-align:center;
}


.playlist div.focused {
    background-color:salmon;
}

.playlist div.played {
    background-color:lightblue;
}

.playlist .glyphicon.remove {
    color:red;
}
.controls > .glyphicon {
    cursor:pointer;
}
.controls_footer {
    height:20px;
}

@media (min-width:1280px){
    .pc {
        display:inline-block;
    }
}

@media (max-width:1280px) {
    .controls_footer {
       padding-top:6px;
    }
    .controls {
        margin-top:-6px;
    }
    .playlist.remote{
        height:calc(100% - 72px);
    }
    .controls > .glyphicon {
        font-size:34px;
    }
    .controls_footer {
        height:34px;
    }
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }


@media (min-width:1280px) {
    .div-playlist .artist2 {
        display: none;
    }
    .palylist {
        height:calc(100% - 58px);
    }
}

@media (max-width:1280px) {
    .playlist > div {
        font-size:22px;
    }
    .artist2 {
        display: none;
    }

    .div-playlist.maximize-panel-size .artist2 {
        display: block;
        font-size: 2vw;
    }

    .div-playlist.maximize-panel-size div.music {
        border-bottom: solid 2px darkgray;
    }

    .div-playlist.maximize-panel-size .music-title {
        display: block;
        font-size: 3.2vw;
        font-weight: bold;
    }

    .div-playlist.maximize-panel-size .artist {
        display: none;
    }

    .div-playlist.maximize-panel-size span.time {
        position: relative;
        top: -20px;
    }

    .div-playlist.maximize-panel-size div > span.glyphicon.remove,.div-playlist.maximize-panel-size div > span.glyphicon.play {
        top: -20px;
        font-size:20px;
    }

    .playlist {
        height:calc(100% - 68px);
    }

}