name: CI build music server

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

      # Build server
    - name: Build music player
      run: |
        echo Run build monitoring server and agent
        cd src/main
        export GOOS=unix
        export GOARCH=arm
        go build -o music_server music_server.go
        go build -o agent_player run_agent_player.go
        cd ../../
        mkdir artifacts
        echo Copy agent and server in artifacts/
        mv src/main/music_server src/main/agent_player artifacts

    # Build monitoring web interface
    - name: Build web monitoring interface
      run: |
        echo Build web monitoring interface
        cd resources
        tar -cvzf build.tar.gz *
        mv build.tar.gz ../artifacts

    # Upload artifact
    - uses: actions/upload-artifact@v4
      with:
        name: Create artifacts with builds
        path: artifacts
